/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bruno+Ace+SC&family=Poppins:wght@400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
  }

body {
    background-color: #000000;
    /* background-color: #5525; */
    color: var(--lc);
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--body-font);
    font-size: 16px;

}

:root{
    /* colors */
    --pc: #6DEA59;
    --sc: #B0B6B0;
    --lc: #f1f1f1;
    --dark: #050505;
    --card-bg: #222222;
    /* fonts */
    --body-font: "Poppins";
    --title-text: 'Black Ops One';
    --body-text: clamp(.8rem, 5vw +.5rem + 1.1rem)
}

section:not(#home){
    margin-top: clamp(2em, 5vw + 1em, 3em);
}



.title {
    font-size: clamp(1rem ,5vw + 1rem, 3rem);
    font-family: var(--title-text);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: clamp(1.5em, 4vw + 1em ,3em);
}

 .adTitle, .adCard, .membership, .leftSide, .rightSide, #trainers{
    opacity:0;
}

.adTitle.animated, .adCard.animated, #memberShip.animated, .leftSide.animated, .rightSide.animated, #trainers.animated{
    opacity: 1;
}
    /* Modal */

    .modal {
        background-color: rgba(22, 22, 22, .7);
        position: fixed;
    }

    .modal-content {
        background: var(--card-bg);
    }
    .mod-head {
        font-size: clamp(.5rem, 2vw + .7rem, 1rem);
        font-weight: max(600);
        margin-bottom: max(.8em);
        text-transform: capitalize;
        color: var(--pc);
        display:flex;
        align-items: center;
    }

    #log-form{
        display:flex;
        flex-direction: column;
        gap: .9em;
    }

    .v-space{
        width: clamp(95%, 8vw , 100%);
        margin: clamp(.2em, 8vw + .3em, .5em);
    }
    .modal-btn{
        width: clamp(25%, 10vw + 20%, 75%)
    }

    /* <!-------------------------------------------------- Navbar-------------------------------------- ----> */
    .brand{
        font-family: 'Bruno Ace SC';
        color: var(--lc);
        font-size:1.5rem ;
    }
    .brand span{
        color: var(--pc);
    }
    .links {
        font-family: var(--body-text);
        color: var(--lc);
        text-transform: capitalize;
    }
    .links:hover {
        color: var(--sc);
    }
    .nav-link.active{
        color: var(--pc) !important;
        font-weight: 500;
    }
    .navbar-toggler-icon{
        color: var(--lc)
    }
    /* <!-------------------------------------------------- Hero-------------------------------------- ------> */
    .heading-wrapper{
        margin-left: clamp(15.9%, 10%, 2%);
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .heading {
        font-weight: 600;
        font-size: clamp(.7rem, 5vw + 1rem, 3rem);
        margin-bottom: clamp(1em, 10vw + 1em ,1.5em);
    }
    .primary-btn{
        padding: 2% 5%;
        border-radius: 50px;
        background-color: var(--pc);
        transition: all .1s ease;
        border:none;
        outline:none;
        font-size: clamp(.2rem, 4vw + .5rem, 1rem);
        font-weight: 500;
    }
    .primary-btn:hover{
        background-color: var(--sc);
        transform: scale(105%);
    }
    .vignette {
        position: relative;
        display: inline-block;
    }
    .vignette > img {
        display: block;
    }
    .vignette::before {
        content:'';
        top:0;
        position: absolute;
        right: 60%;
        width:40%;
        height:100%;
        background: linear-gradient(to right,rgb(0, 0, 0), rgba(0, 0, 0, .01));
    }
    .vignette::after {
        content:'';
        top:0;
        position: absolute;
        left: 80%;
        width:20%;
        height:100%;
        background: linear-gradient(to left,rgb(0, 0, 0), rgba(0, 0, 0, .05));
    }
    /* <!--------------------------------------------------- Features-----------------------------------------> */
    .card-header{
        font-size: clamp(.5rem, 2vw + .7rem, 1rem);
        font-weight: max(600);
        margin-bottom: max(.8em);
        text-transform: capitalize;
    }
    .body-text{
        font-size: var(--body-text);
        font-weight: 300;
        text-transform: capitalize;
    }
    /* <!--------------------------------------------------- MemberShip---------------------------------------> */
    .gym-card{
        background-color:#222222;
        transition: all .2s ease-in-out;
        width: max(300px);
        position: relative;
        border-radius: 10px;
        height: calc(396px + 38.4px);
        border: 2px solid var(--lc);
        padding: 0;
        z-index: 1;
    }
    .gym-card:hover {
        background-color: var(--pc);
        transition: all .2s ease-out;
    }
     .gym-card:hover .gym-card-head{
        color: var(--dark);
     }
    .gym-card-head {
        padding-top: 1.1em;
        width: 100%;
        height: 24%;
    }
    .gym-card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: clamp(.2em, 5vw + .5em, .8em);
        width: 100%;
        height: 76%;
        border-radius: 0 0 9.8px 9.8px;
        background-color: #222222;
    }
    .gym-card:hover, .gym-card:hover .mid-border {
        border: 2px solid var(--pc);
    }
    .gym-card:hover .checkme {
        color: var(--pc);
    }
    .member-card-heading{
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .mid-border{
        position: absolute;
        width: 100%;
        height: 2px;
        border: 2px solid #f1f1f1;
        top: 20%;
        transition: all .2s ease-in-out;
        left:0;
        opacity: 1;
        z-index: 1;
    }
    .member-card-price{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }
    .checkme{
        transition: all .2s ease-in-out;
    }
    .member-card-btn{
        font-size: 1.1rem;
        font-weight: 500;
        padding: .5em 2.6em;
        border-radius: 30px;
        border: none;
        transition: all .2s ease-in-out;
    }
    .gym-card:hover .member-card-btn{
        background-color: var(--pc);

    }
    /* <!--------------------------------------------------- About-US ----------------------------------------> */
        /* <!-- TextContent --> */
        /* <!-- Gallery Carousel --> */
        .snap-div{
            scroll-snap-type: inline mandatory;
            touch-action: cross-slide-x;
        }
        .snap-div > * {
            scroll-snap-align: start;
            object-fit: contain;
        }

    /* <!--------------------------------------------------- Trainer-Carousel --------------------------------> */
        .box{
            width: 272px;
            height: 448px;
            padding: 1em;
            background-color: var(--card-bg);
            border-radius: 20px;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center ;
        }
        .box span{
            transition: .15s ease-in ;
        }
        .box span:hover {
            color:var(--pc);
            cursor: pointer;
        }
    /* <!--------------------------------------------------- Footer ------------------------------------------> */
        .footer-logo{
            font-family: 'Bruno Ace SC';
            font-size: clamp(.8rem, 3vh + .5rem, 2rem );
        }
        .footer h3 > span {
            color: var(--pc);
        }

        .footer h3{
            margin-bottom: 1rem;
        }